[2015-09-30 12:30] marminthibaut opened #1 "Memory metrics should show a percentage"
It could be usefull to have percent of memory used by container, instead of raw values.

[2015-09-30 12:32] marminthibaut opened #2 "Network stats could be enhanced"
Network stats should include a bandwidth instead of Rx/Tx values.

[2015-09-30 12:34] marminthibaut opened #3 "CPU stats should show load percentage"
Dockerbeat should send cpu load (percentage) instead of raw values (usages).

[2015-09-30 12:36] marminthibaut opened #4 "Clean code :)"
Clean the code:
 * remove useless log debug
 * ...

[2015-09-30 13:08] marminthibaut commented on #2
Should wait the end of issue #3 before to begin this one to use the same dev logic.

[2015-09-30 13:36] marminthibaut opened #6 "Code refactoring"
The app should be tested...

[2015-09-30 14:59] erwanncloarec opened #8 "Per CPU stat is just an array"
It's currently impossible to create a chart to visualize each cpu consumption, because the metric 'perCpuUsage' is only an array.

It can be possible to construct a map with the cpu name and its value.

[2015-09-30 15:14] #3 closed

[2015-09-30 15:21] #1 closed

[2015-09-30 15:21] #4 closed

[2015-10-01 08:59] marminthibaut opened #10 "Code comments"
Code should includes some comments

[2015-10-01 09:55] #2 closed

[2015-10-01 09:57] marminthibaut commented on #6
I'll implement some unit tests and setup travis CI automation

[2015-10-01 10:24] #8 closed

[2015-10-01 13:40] #10 closed

[2015-10-02 13:06] marminthibaut opened #19 "Add blkio stats"
Dockerbeat should collect blkio statistics. Stats should be human-readable i.e should be read/write Bytes per second.

[2015-10-02 13:11] marminthibaut opened #20 "Doc & release 1.0.0-beta1"
Release the 1.0.0-beta1 dockerbeat version

[2015-10-02 13:23] marminthibaut opened #21 "Manage errors due to a too old version of Docker"
Dockerbeat uses `docker stats` api, which has been introduced from 1.5 version.

Dockerbeat should check docker version on startup and display compatibility error message if docker daemon is not up to date.

[2015-10-02 13:26] marminthibaut opened #22 "Display proper error message when docker daemon is unreachable"
When dockerbeat successfully runs and docker daemon does not respond, dockerbeat should properly log error message with logp.

Some message should be displayed:

* when dockerbeat cannot access to docker socket
* when dockerbeat can access to docker socker, but an error occurred on listing containers
* when dockerbeat can access to docker socker, but an error occurred on getting container stats

E

[2015-10-02 13:40] marminthibaut opened #23 "Setup template field generation"
Put the python template generator program as developped in the packetbeat and topbeat repos:

* scripts/generate_field_docs.py
* scripts/generate_template.py

Python scripts used to generate the `etc/dockerbeat.template.json` file.

[2015-10-02 14:08] marminthibaut opened #24 "First network stats does not push well named fields"
The first network stats after dockerbeat startup is not well formatted:

[code]

Fields should be suffixed by "_ps" to match with the template.

[2015-10-05 08:03] #20 closed

[2015-10-05 08:22] marminthibaut commented on #24
Closed by #26

[2015-10-05 08:22] #24 closed

[2015-10-05 09:44] erwanncloarec commented on #19
Just started doing it! [see it here](https://github.com/erwanncloarec/dockerbeat/tree/Blkio)
Before PR, I have to do the same as network stats to store the latest data and send the diff, not the raw value.

[2015-10-05 13:38] marminthibaut opened #30 "Identify container with human readable names"
It will allow to understand more easily kibana dashboards...

[2015-10-06 10:12] marminthibaut opened #31 "Mapping should set fields as "not analyzed""
To avoid splitting field problem :)

see topbeat project

[2015-10-06 15:06] marminthibaut opened #32 "Setup doc field generation"
Generate asciidoc from `scripts/generate_fields_doc.py` script.

[2015-10-06 15:10] #23 closed

[2015-10-06 15:12] #31 closed

[2015-10-06 15:40] #32 closed

[2015-10-06 15:52] marminthibaut commented on #30
I suggest to replace the `containerNames` field to `containerName` and set its value as the following:

* iter over all names
* keep the name with the format `/[a-zA-Z0-9]+`
* eventualy prefix this name with the shipper name

I'm not sure for the last one because it could be a scripted fields!

[2015-10-07 11:57] #30 closed

[2015-10-07 14:13] marminthibaut opened #36 "Percentage values should be set between 0 and 1"
Currently, percentage values are set between 0 and 100, but kibana field format only supports percentages between 0 and 1 out of the box...

[2015-10-07 14:13] marminthibaut commented on #36
@erwanncloarec go go go?

[2015-10-07 16:17] erwanncloarec commented on #36
I'm on it

Le mer. 7 oct. 2015 16:13, Thibaut Marmin <notifications@github.com> a
écrit :

[2015-10-08 07:22] marminthibaut commented on #36
:+1:

[2015-10-10 12:45] #19 closed

[2015-10-10 12:54] marminthibaut opened #38 "Gather and/or duplicate metrics container"
We have to choose between:

* gather all statistics (cpu, blkio, container, etc.) into a unique and big event
* remove the container event, and duplicate container information to all other metrics

We should compare to topbeat and packetbeat to see their logics.

[2015-10-10 12:55] marminthibaut commented on #36
Is it ready to merge?

[2015-10-10 12:56] marminthibaut commented on #21
I'm on it

[2015-10-10 12:57] marminthibaut commented on #22
I'm on it

[2015-10-12 09:47] marminthibaut opened #40 "CONTRIBUTING.md is missing"
Repo should contains a contributing markdown file.

[2015-10-12 09:52] erwanncloarec commented on #38
Well in both Topbeat & Packetbeat, the events are separated. In Topbeat, the events are even seperated per process! I don't see why we should not do the same thing.
It is a benefit because it is clearer in ES when it is seperated, and more easy to query.
We can also have a benefit if there is a metric that no longer exist, we can still have the others.

[2015-10-14 07:45] erwanncloarec commented on #36
Is there a way to tell Kibana that these are percentage? Like a bulk file to send to ES ?

[2015-10-14 09:03] gpolaert commented on #36
Other question about cpu usage. Is the total cpu usage > 100 % like top or htop (100% x number of cpu) ?If it's not, may be we can divide the total per the number of cpu and provides the standard deviation in order to know if one processor is more used than an another.

[2015-10-14 09:55] erwanncloarec commented on #36
I checked and it seems like 100% totalCPU means  that all the cores are used at 100%.

[2015-10-30 10:47] #21 closed

[2015-10-30 13:06] #36 closed

[2015-10-30 13:07] marminthibaut commented on #22
Closed by #39

[2015-10-30 13:07] #22 closed

[2015-10-30 13:10] marminthibaut commented on #38
I think we could adopt the second choice: remove the container event, and duplicate container information to all other metrics.

[2015-12-11 16:15] erwanncloarec opened #45 "Change to new Libbeat Github repo"
All the beats have merged into one github repos. The Libbeat deps should be changed to that repos.

See https://www.elastic.co/blog/the-beats-are-moving-together-into-single-git-repository for annoucement.
See https://github.com/elastic/beats for new repos

[2016-01-04 17:00] erwanncloarec opened #46 "Dependency (go-dockerclient) has been updated"
The go-dockerclient project have change for the new Docker API (1.22).

The Stat object have change : [see here](https://github.com/fsouza/go-dockerclient/commit/adc42c2863dd78dcabe6b50b649a7ac1cee8b5c2)

The impact on Dockerbeat is that it changes the *event* struct.

[2016-01-05 02:05] cmfatih opened #47 "Next release?"
Hi @marminthibaut

Do you know ETA for next release?

[2016-01-05 09:30] marminthibaut commented on #47
We are working on it this week. Can you help us?

[2016-01-05 10:22] marminthibaut opened #48 "Container type event should parse status field"
Container events have a status field, formatted as string ("Up 36 minutes").

Dockerbeat could parse this string to extract two nested fields:

* state ("up", "stopped", etc.)
* time (in seconds: "2160")

Fields names are not definitive.

[2016-01-05 10:22] #47 closed

[2016-01-05 10:23] marminthibaut commented on #47
Next release will be a Beta 2 (see the milestone https://github.com/Ingensi/dockerbeat/milestones)

[2016-01-05 10:23] marminthibaut commented on #38
Nothing to do:

we keep the five types:

* container
* memory
* cpu
* net
* blkio

[2016-01-05 10:24] #38 closed

[2016-01-05 14:35] cmfatih commented on #47
@marminthibaut : Really busy nowadays, but I will be using and contributing to the project once I settle it. Thanks for this OSS project :+1:

[2016-01-05 15:18] marminthibaut commented on #47
Thanks :+1: !!

[2016-01-05 15:50] #45 closed

[2016-01-07 08:45] marminthibaut commented on #6
This will be an opportunity to refactor code structure and make it easier to increase test coverage.

[2016-01-07 09:21] #46 closed

[2016-01-07 09:28] marminthibaut commented on #6
Code should be refactored to be easier to test.

Target of code coverage is 50%.

[2016-01-11 14:19] marminthibaut opened #52 "Blkio stats should gather "per second" statistics"
Currently, dockerbeat sends blkio data as number of reads/writes/total minus previous tick data. It should divides by the number of seconds to emit a "per second" data (like network and proc data).

[2016-01-11 16:14] marminthibaut opened #53 "Percentage fields should be between 0.0 and 1.0"
Currently, percentage fields are between 0.0 and 100.0, to use kibana field formatting properly, it should be between 0.0 and 1.0.

[2016-01-11 16:54] #53 closed

[2016-01-12 09:09] #6 closed

[2016-01-12 09:09] #52 closed

[2016-01-13 09:05] marminthibaut opened #55 "Should dockerbeat allow to monitor container logs?"
The question is: Does the dockerbeat role is to monitor only container **statistics** or should also ship container **logs** ?

[2016-01-13 09:22] erwanncloarec commented on #55
In my opinion, Dockerbeat is only about container stats. We can however create another libbeat project for the container logs.

[2016-01-14 03:44] hmalphettes commented on #55
I was hoping it would monitor the logs too.

[2016-01-14 17:50] pcallewaert commented on #55
Does this mean the logging driver of the container stays JSON?
We ship our logs now to logstash with docker 1.8's new feature, custom logging drivers. We use the GELF driver to ship it to logstash. The only disadvantage for us is this disables the docker logs command on the host itself..
If dockerbeat can overcome this issue it would be a big advantage!

[2016-01-15 05:25] mrkschan commented on #55
FYI, there was a related discussion in libbeat https://github.com/elastic/libbeat/issues/37

[2016-01-15 05:32] mrkschan commented on #55
And, this https://github.com/docker/docker/issues/14949

[2016-01-15 08:30] marminthibaut commented on #55
I also think that Dockerbeat should **only ship data from Docker Stats API**. Container logs shipping should be managed either by a docker logging driver, or by simply log into files and ship logs with filebeat.

[2016-01-15 08:31] #40 closed

[2016-01-15 08:42] erwanncloarec opened #57 "Connection to Docker via TCP/TLS"
Dockerbeat only allows connection to docker daemon socket. It should also be able to connect to listening TCP daemon.

[2016-01-15 08:45] marminthibaut commented on #57
:+1:

Remote connection to docker by TCP should be implemented soon, and it requires to manage TLS encryption.

[2016-01-15 10:07] marminthibaut opened #58 "Add a "dockerSocket" field"
Add the `dockerSocket` field to all shipped events. It should be usefull when many dockerbeat are launched on the same host to monitor different dockers daemons.

[2016-01-15 10:15] marminthibaut opened #59 "Should Dockerbeat be able to monitor many docker daemons?"
The question is: if we have many docker daemons to monitor,

* should we have to launch **as many dockerbeat as docker daemon**
* or should we configure **one dockerbeat to monitor many docker daemons** (`socket` configuration property could be modified to `sockets` and be an array of sockets)

This case could append when there is many docker daemons deployed on several machines and listening on T

[2016-01-15 10:19] pcallewaert opened #60 "panic after 30 minutes running"
Hi,

We are trying to run develop branch on our servers, but are getting after 30 minutes panics, and the container stops. Seems a deadlock situation..

We are running this command:
`docker run -d -v /var/run/docker.sock:/var/run/docker.sock --link elasticsearch-001:elasticsearch ingensi/dockerbeat:develop`

docker version:

 Version:      1.9.1
 API version:  1.21
 Go version:   go1.4.2
 Git comm

[2016-01-15 10:24] marminthibaut commented on #60
Thanks for reporting, i'm on it!

[2016-01-15 10:31] marminthibaut commented on #60
Problem identified: this is when docker API is not reachable, we get a nil object.

To reproduce: launch dockerbeat watching a docker daemon and then stop the docker daemon. It crashed dockerbeat.

[code]

[2016-01-15 10:34] marminthibaut opened #61 "Dockerbeat crashes when docker API is not reachable"
Related issue: #60

Reproduce: launch dockerbeat monitoring a running docker daemon and then stop the docker daemon.

Solve problem: check nil values in `EventGenerator`

[2016-01-15 10:41] marminthibaut opened #62 "Add new document type for docker daemon status"
Dockerbeat could ship an event type for docker daemon status by pulling the `/info` endpoint : https://docs.docker.com/engine/reference/api/docker_remote_api_v1.21/#2-3-misc

When API is **unreachable**, we could ship an event with special status. (need discuss)

[2016-01-15 13:39] marminthibaut commented on #62
As you can see [here](https://github.com/Ingensi/dockerbeat/blob/develop/beat/Dockerbeat.go#L193) dockerbeat just log an error when docker API is not reachable. We could send a document to elasticsearch!

[2016-01-15 13:52] marminthibaut commented on #60
@pcallewaert all should be ok now. Can you try and give us a feedback?

Thankx

[2016-01-15 13:52] #61 closed

[2016-01-15 14:05] marminthibaut commented on #59
After a bit of thought, i think dockerbeat has to stay as simple as possible and should not allow multiple daemon monitoring.

Any other opinion?

[2016-01-15 15:43] ruflin commented on #59
In general I think each beat should be as local as possible, means running on the same machine if possible. So in case there are potentially multiple docker daemons on one machine, I would be +1 to support it. But if in general there is one docker daemon per machine, I would suggest to install one beat per machine and keep it as simple as possible.

[2016-01-18 09:23] mcascallares opened #64 "Sanitize docker labels containing dots"
Docker-compose generates some container labels like 'com.docker.compose.container-number' and 'com.docker.compose.project' among others. These are invalid field names since ES 2.0 does not support dot in field names. It would be nice if those names are sanitized using '_' or any other valid character.

I checked docker-compose documentation and source and I wasn't able to find a way to disable tha

[2016-01-18 12:42] pcallewaert commented on #60
It seems the problem is not resolved (tested with latest develop docker container)
[dockerbeat-fail.zip](https://github.com/Ingensi/dockerbeat/files/94306/dockerbeat-fail.zip)

Containers: 35
Images: 360
Server Version: 1.9.1
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 430
 Dirperm1 Supported: true
Execution Driver: native-0.2
Logging Driver: json-file
Ke

[2016-01-18 16:37] #64 closed

[2016-01-18 16:45] marminthibaut commented on #60
I did not succeed in reproducing this bug.. After 3 hours of dockerbeat running on my personal host (some containers and images) -> no pb. I should try to on a similar environment than yours.

@erwanncloarec any idea?

[2016-01-18 16:55] gpolaert commented on #60
@marminthibaut what is your go version ? I'll build a new environment ; try to reproduce the issue ...
@pcallewaert How events/s have you? Just to be sure, what is your dockerbeat id image.

[2016-01-18 16:57] erwanncloarec commented on #60
Same as you, running for more than 2 hours with docker image, no problem
@pcallewaert do you use the default config?

[2016-01-18 17:01] erwanncloarec commented on #60
The way I see, the error is from the error comes from getContainerEvent at that line of code:

    "@timestamp":    common.Time(stats.Read),

Obviously it is not the common.Time that is doing the null pointer, so it is stats that is null.

The stats is comming from the chan populated by the docker client library, so we have to invastigate in what case we have a null in the stats.

[2016-01-19 09:23] pcallewaert commented on #60
@erwanncloarec just using this command:
`docker run -d -v /var/run/docker.sock:/var/run/docker.sock --link elasticsearch-001:elasticsearch ingensi/dockerbeat:develop`

@gpolaert imageid is d13cb6762b06c57e9a5d39bb80b2efe23bb4d2124d524de4c3ccbcf78a996040

We do use https://github.com/garethr/garethr-docker for container deployment. We're not sure, but we think it can be related when we deploy/updat

[2016-01-19 09:38] marminthibaut commented on #60
Can you try to reproduce this behaviour with the beta2 version to ensure that we are working on the same version?

Docker image: ingensi/dockerbeat:1.0.0-beta2
Tag on github: https://github.com/Ingensi/dockerbeat/tree/v1.0.0-beta2

Thanks

[2016-01-19 13:30] marminthibaut opened #66 "container.ports (container type) is malformed when container does not have any published port"
When a monitored container does not publish any port, then the `container.ports` field take the string value "-". It should be an empty array `[]`.

[2016-01-20 16:22] gpolaert commented on #59
I'm wondering if there is a place for swarm and dockerbeat. Swarm can provide some information about nodes, ip, cpu, and so on, plus containers
2 thoughts:
* Can we handles beats via swarm/dockerbeat? Is it interesting (not sure)?
* Do we have to provide a json swarm event if the socket is a instance of swarm node?

[2016-01-21 09:34] marminthibaut opened #67 "What about Dockerbeat and Swarm?"
See #59 @gpolaert comment:

[code]

[2016-01-21 09:37] marminthibaut commented on #67
I see two way to manage docker swarm stats:

* create a new `dockerswarmbeat` project :smile:
* for each tick, check if monitored daemon is a swarm daemon, and apply some specific logic to swarm API (see https://docs.docker.com/swarm/api/swarm-api/)

[2016-01-21 11:43] ddrozdov opened #68 "Set some common parameters via environment"
Instead of creating custom a config file just to set a non-default elasticsearch port for example, it would be more convenient to be able to set it via the environment variables.
Like this:
[code]
See the example of this approach here: https://github.com/athieriot/docker-elastic-topbeat

I suggest to support this list of variables: PERIOD, HOST, PORT, SHIPPER_NAME, SHIPPER_TAGS.

[2016-01-21 11:55] ddrozdov opened #69 "Sample Kibana dashboards"
It would be very useful if you could provide some Kibana templates for dockerbeat.
Like Elastic does for topbeat: https://github.com/elastic/beats-dashboards

[2016-01-21 11:59] tsg commented on #68
Just a heads up, libbeat now supports setting env variables in the configuration files: https://github.com/elastic/beats/pull/715

So dockerbeat could get this automatically by updating its libbeat version.

[2016-01-21 12:01] pcallewaert commented on #60
Damn, after 43 hours running on beta 2, it crashed also.. :/
`docker run -d --name dockerbeat -v /var/run/docker.sock:/var/run/docker.sock --link elasticsearch-001:elasticsearch ingensi/dockerbeat:1.0.0-beta2`
[dockerbeat-fail.zip](https://github.com/Ingensi/dockerbeat/files/99085/dockerbeat-fail.zip)

[2016-01-21 14:50] marminthibaut commented on #69
That is not really official, but you can find dashboard for beta 2 here : https://github.com/Ingensi/beats-dashboards/tree/dockerbeat

I just update the repo with my current local version. Blkio visualizations are missing..

[2016-01-21 14:51] marminthibaut commented on #68
Oh i try it right away!

[2016-01-21 15:57] ddrozdov commented on #69
That's great! Thank you.

[2016-01-28 02:55] yeasy opened #70 "cpu,blkio,network value type conflicts with 1.0.0-beta2"
Using Docker image ingensi/dockerbeat:1.0.0-beta2.

Seems the input data has long type, while the index mapping requires double.

logs are:

elasticsearch_1 | [2016-01-28 02:33:45,085][DEBUG][action.admin.indices.mapping.put] [Cloud] failed to put mappings on indices [[dockerbeat-2016.01.28]], typ
e [cpu]
elasticsearch_1 | MergeMappingException[Merge failed with failures {[mapper [cpu.percpuUsage.

[2016-02-03 10:50] erwanncloarec commented on #68
I just tried, it does not seem to work with the current dockerbeat version.

We have to update libbeat for that

[2016-02-09 17:58] hcoa opened #71 "No network stats"
We are running dockerbeat v1.0.0-beta2, and we've found that there are no network statistics, and no any error message.
logs with debug level: https://gist.github.com/hcoa/335c1c26ec011adc4394
docker api version 1.20

[2016-02-12 10:05] marminthibaut commented on #70
Did you put the mapping as shown in the README file?

[code]

[2016-02-12 10:11] marminthibaut commented on #71
Can you send a `docker inspect` on the container that should have network stats?

I suspect that no one of your container has network. Dockerbeat sends one "net" event per network container (e.g. if you have 3 container, each has 2 networks, then you will have 6 "net" events published).

Thanks

[2016-02-12 13:56] sporokh commented on #71
@marminthibaut Hello,
We are running containers in the kubernetes, on CoreOS Stable (835.12.0) with Docker version:
[code]
For example docker inspect of some random container:
[code]
As I understand by your statement we should have some network in our container, which currently supported only in Docker version 1.91 and above. Are you talking about something similar to this?
[code]

[2016-02-12 14:03] marminthibaut commented on #71
Dockerbeat beta2 uses the new specification introduced in the docker API 1.21: https://docs.docker.com/engine/reference/api/docker_remote_api_v1.21/

In this API version, container stats now returns new network fields: https://docs.docker.com/engine/reference/api/docker_remote_api/#v1-21-api-changes

We should update the docker minimal version to display an error message at startup and write some

[2016-02-12 14:03] #71 closed

[2016-02-12 14:05] marminthibaut opened #72 "Minimal docker version should be updated to 1.9.x"
Reference for #71

Dockerbeat should display an error message when docker is too old. Required version is 1.9.x (API version > 1.21)

[2016-02-12 14:25] #72 closed

[2016-02-16 09:57] #68 closed

[2016-02-16 10:30] marminthibaut commented on #66
Mistake from the previous message: dockerbeat sets a null value for the field `container.ports` (not the string "-").

It should set an empty array.

[2016-02-16 10:39] #66 closed

[2016-02-18 15:33] #58 closed

[2016-02-23 19:55] ebuildy commented on #55
Only stat is enough ;-)

There are already a ton of yet another Docker logs shipper (btw not so simple than dockerbeat I must admit ^^).

[2016-02-24 04:54] Y4Rv1K commented on #55
Agreed with @erwanncloarec .

BTW did somebody start decent project? So we can use, test, contribute

[2016-02-24 19:18] urso commented on #55
@urso I'm considering to enhance filebeat to support json input + docker id from location using the jsonlog driver with file-rotation.

[2016-03-02 08:51] buehler commented on #60
Hey there

I may experience the same error. After some time the following log appears and the container dies:

[code]

[2016-03-02 15:37] marminthibaut commented on #60
Thank you for reporting them this bug. I'll look at this in few days.

[2016-03-03 14:09] zstyblik commented on #60
Hello,

I've seen couple panics too. Originally, I thought they were caused by `broken pipe` connection, but looking at panic output again, I don't think so. Also, I'm unable to reproduce this again with breaking connection now, despite the fact I had like three panics in a row before.

[code]

[2016-03-08 10:53] HipsterWhale commented on #60
I'm currently trying to reproduce the issue, but I can't find a way to do it. Any ideas so I can start working on debugging this issue ?

[2016-03-08 10:54] buehler commented on #60
We saw the issue, when we used it in the docker environment.
We ran the beat in a dockerbox, on our docker-environment. Currently there are ~30 containers running. After a hour or two, the beat crashes.

Maybe because there are too many events? I don't know the source of libbeat so that _could_ be an issue.

Cheers

[2016-03-08 13:10] HipsterWhale commented on #60
I was watching the kibana monitoring when something hit me : the crashs seems to happen when a container is stopped and/or removed.

Maybe the crash occurs if we remove a container after container listing but before getting statistics. We're currently investigating on this.

[2016-03-08 13:27] erwanncloarec commented on #60
Thanks to @HipsterWhale we can now reproduce the issue:

[code]

With that script, dockerbeat will eventually stop.
It's clear that it is stopping because a container stops!

[2016-03-08 13:29] buehler commented on #60
Whoa :hushed:

Well then it could be a solution to collect all data first and then deliver them? Or how would you deliver partial data?

[2016-03-08 14:12] HipsterWhale commented on #60
I've made a pull request with the fix for this bug, it will be released in a beta soon.

[2016-03-08 14:20] buehler commented on #60
@HipsterWhale
Thanks! Looking forward to use it again and test it :-)

[2016-03-09 19:56] marminthibaut commented on #60
Thanks @HipsterWhale ! Awesome work

I just reopen this issue until @buehler @pcallewaert and @zstyblik report if it's ok (or not).

[2016-03-09 20:00] marminthibaut commented on #60
@HipsterWhale can you explain why this bug occurred?

[2016-03-09 20:03] HipsterWhale commented on #60
The crash occurred because the dockerclient return the stats to nil with an error to nil too if the container have been removed in the interval between the listing and the statistics retrieving. I've just added the case to handle this error with a message to the log to say that something abnormal happened.

[2016-03-09 21:04] marminthibaut commented on #60
:+1:

[2016-03-09 21:04] #60 closed

[2016-03-10 09:36] buehler commented on #60
I ran the new image from the develop branch. By now, it seems to be working :+1:
Neat!
:)

[2016-03-10 17:02] marminthibaut commented on #60
Thanks!

[2016-03-10 18:51] zstyblik commented on #60
Sorry, I didn't have time to give this a test, but it's good to hear it's working.

[2016-03-11 09:17] gpolaert opened #78 "Add dockerbeat to AUR repo"
Could we push dockerbeat to AUR repo (for Arch distrib) like topbeat, filebeat and so on ?

[2016-03-11 09:25] marminthibaut commented on #78
Do you want to become an active contributor?

:+1:

[2016-03-11 10:55] tymofii-polekhin commented on #55
@Y4Rv1K `docker engine --log-driver=journald` + https://github.com/mheese/journalbeat

[2016-03-11 10:57] tymofii-polekhin opened #79 "Logstash output?"
Didn't find this one in README, are we able to output to logstash?

[2016-03-11 10:59] tymofii-polekhin opened #80 "Wrong cpu type event in README file"
Found this line in README:
`type: cpu` for per process container statistics.
but example `type: cpu` output don't have anything related to processes

Can you clarify this?
Thanks

[2016-03-11 11:00] marminthibaut commented on #79
Of course, this feature is not related to dockerbeat but to libbeat.

Configure the output section of `dockerbeat.yml`: https://github.com/Ingensi/dockerbeat/blob/develop/etc/dockerbeat.yml#L104

You can set elasticsearch, logstash or file as beat output.

[2016-03-11 11:00] #79 closed

[2016-03-11 11:00] tymofii-polekhin commented on #79
Cool, thanks!

[2016-03-11 11:03] marminthibaut commented on #80
This should be replaced by `type: cpu usage per container`.

Thank you! I'll fix it soon.

[2016-03-11 11:08] marminthibaut commented on #79
Enjoy dockerbeat! Do not hesitate to leave questions and comments

[2016-03-14 09:52] HipsterWhale commented on #78
I'll do it

[2016-03-14 09:55] #55 closed

[2016-03-14 09:56] marminthibaut commented on #59
Issue conclusion: keep dockerbeat as local as possible to the docker daemon, so 1 dockerbeat = 1 docker daemo

[2016-03-14 09:56] #59 closed

[2016-03-14 09:58] #70 closed

[2016-03-14 11:14] #80 closed

[2016-03-14 11:56] gpolaert commented on #78
Thanks :)

On Mon, Mar 14, 2016 at 10:52 AM, Jérémy SEBAN <notifications@github.com>
wrote:

[2016-03-14 12:03] HipsterWhale commented on #78
done : https://aur.archlinux.org/packages/dockerbeat/ :)

[2016-03-14 12:53] marminthibaut commented on #78
Well done! Thx

[2016-03-14 12:53] #78 closed

[2016-03-14 13:04] marminthibaut opened #82 "Improve README content"
* add a TLDR
* rewrite some parts
* etc.

[2016-03-14 14:29] zstyblik commented on #60
We've tested it and it seems to be working. Thanks.

[2016-03-15 14:13] marminthibaut commented on #62
Resolves by #85

[2016-03-15 14:13] #62 closed

[2016-03-16 09:08] marminthibaut commented on #82
@HipsterWhale Does all update are treated by the #83 #84 PRs?

[2016-03-16 09:19] HipsterWhale commented on #82
No, still missing the TL;DR, I'll do it right now

[2016-03-16 10:24] jarkomes opened #89 "Issue starting dockerbeat with ES_HOSTS"
Hello,

We are getting an error when starting dockerbeat with the ES_HOSTS parameter in our docker run (our elasticsearch cluster is not running in docker and on other machines, so we use ES_HOSTS):
docker run --net bridge -m 0b --detach=true -e ES_HOSTS=xxx.xxxxxx.xxx.domain.tld -v /var/run/docker.sock:/var/run/docker.sock --name dockerbeat-app00 ingensi/dockerbeat:develop

Start error: loading c

[2016-03-16 10:39] marminthibaut commented on #89
I @jarkomes ,

Try to set ES_HOST as following: `ES_HOST=[\"xxx:9200\"]

There were a mistake in the README file, I just updated it 30 minute ago ;)

[2016-03-16 10:39] marminthibaut commented on #89
Please leave a comment if it works, then I'll close the issue

[2016-03-16 12:14] jarkomes commented on #89
Works! Thanks again for your assistance.

[2016-03-16 12:14] #89 closed

[2016-03-16 12:35] TheStigger opened #90 "Fatal error: concurrent map writes"
I've just launched your last development version and in a few minutes it threw following exception:
[code]

[2016-03-16 14:36] marminthibaut commented on #90
Hi,

can you be more precise? Context, env, etc.

Did it work fine before the update?

Thanks

[2016-03-16 14:43] TheStigger commented on #90
CentOS 7, Docker 1.10.3, Go 1.6. I've built binary from development branch. And it is my first usage of dockerbeat :)

[2016-03-16 14:47] marminthibaut commented on #90
Ok thank I'll have a look.

You can try the beta2 version, waiting for the bug resolution.

[2016-03-17 19:48] TheStigger commented on #90
It fails even at beta2. The same error, but slightly different traceback.
[code]

[2016-03-22 11:34] TheStigger commented on #90
I've updated libbeat for beta 2 and got the same error. Any ideas?

[2016-03-22 12:02] marminthibaut commented on #90
No idea.. We will work on it as soon as possible.

Thanks for the feedback

[2016-03-24 15:13] patrick-bark commented on #79
+1 awesome, perhaps should be added to the docs. This is a major plus over your competitors (cadvisor). Thanks

[2016-03-24 17:22] patrick-bark opened #94 "Mapping volume to config directory causes executable to be lost"
Hey, I am just getting started with dockerbeat, but I like the way it looks. Ran into one issue right off the bat. In your documentation, it says that to map a custom config file simply mount a volume:

`-v /src/beats/dockerbeat/config/:/etc/dockerbeat`

However, when you do that, you simply overwrite the executable, and then it cannot launch. Not a huge ordeal, I can simply use `COPY` in the Dock

[2016-03-24 18:05] marminthibaut commented on #94
Which dockerbeat version are you running? This issue may have been resolved by #77

Please try with to pull `develop` tag

[2016-03-24 18:06] patrick-bark commented on #94
Gotchya, I just pulled latest, I will try develop here in a sec

[2016-03-24 18:08] marminthibaut commented on #94
Thx!

[2016-03-24 18:10] marminthibaut commented on #82
I think that we should improve the README.

For example, @patrick-bark suggested to add doc about outputs in #79

[2016-03-24 19:05] patrick-bark commented on #94
Ok running into another issue, that is not so obvious. On booting the container with a config file it fails to attach, but I am not getting any error. Here is the config:
[code]
and my docker-compose looks like:
[code]

Any idea what could be causing this? It boots without the config, so I know something there is messed up just can't figure out what it could be. Thanks

[2016-03-25 16:21] patrick-bark commented on #94
Sorry this came from my own misunderstanding of what a 'beat' is exactly.

[2016-03-25 16:21] #94 closed

[2016-03-29 13:25] TheStigger opened #97 "Network type output."
Can't find information about network type in a container (like `bridge` or `host`). Is there any support for this function?

[2016-03-30 09:47] erwanncloarec commented on #97
Dockerbeat aims to pull containers metrics, not their metadata. The problem here is we would have to pull every metrics like volumes, links, and many things if we would implement that. Those metadata are
not changing with time, so it wouldn't be effective to pull that every X seconds.

@marminthibaut  and I already talked about a new Beat that would pull all the changes of a Docker engine, like a

[2016-03-30 10:07] marminthibaut commented on #97
:+1:  @erwanncloarec

We should develop a new beat called `dockereventbeat` :)

[2016-03-30 10:41] erwanncloarec commented on #97
More like eventdockerbeat because of trademark issues

Le mer. 30 mars 2016 12:07, Thibaut Marmin <notifications@github.com> a
écrit :

[2016-03-31 09:02] #97 closed

[2016-04-01 14:00] erwanncloarec commented on #90
We have a concurrent map read/write problem here because we use a goroutine on exportContainerStats function.

Golang has made the choice to [not define map operations as atomic](https://golang.org/doc/faq#atomic_maps). Therefore they provide a [solution](https://blog.golang.org/go-maps-in-action), using `sync.RWMutex`.

I think we should try that instead of a new structure for concurrent map.

[2016-04-01 14:15] TheStigger commented on #90
@erwanncloarec I'm a total newbie in Go, so it was first working solution for this problem :)

[2016-04-01 15:46] TheStigger opened #99 "Docker version constraint"
Currently, development version has the constraint for docker version upper than 1.9. What is the reason of this? I've tried to run it without this constraint and everything works fine.

[2016-04-13 15:44] #57 closed

[2016-04-13 16:02] marminthibaut commented on #90
I think problem comes from this line: https://github.com/Ingensi/dockerbeat/blob/develop/beat/EventGenerator.go#L227

I'll try a mutex based solution soon...

[2016-04-14 12:25] #90 closed

[2016-04-15 12:54] hlepesant opened #101 "Report Docker label"
Hi all,

I would like to use dockerbeat in a multitenant environement.
Do you plan to return Label keys (https://docs.docker.com/engine/userguide/labels-custom-metadata/) ?

That's will be helpfull to differentiate customers

Best regards,
Hug

[2016-04-15 13:02] marminthibaut commented on #101
:+1:

[2016-04-20 08:26] #82 closed

[2016-04-20 08:50] marminthibaut commented on #99
Did the network stats works?

[2016-04-20 14:58] #101 closed

[2016-04-20 15:08] marminthibaut opened #104 "Enable / Disable stats from configuration"
Docker could provide configuration properties to be able to enable or disable some stats (cpu, net, blkio, etc.)

It will allow dockerbeat to fit with the most use case, and avoid to ship useless data.

[2016-06-14 03:47] rkmresh commented on #79
Hi, Is there any sample dockerbeat.yml for logstash?
I try to output to logstash I don't see any output. But output to elasticsearch and file is working.
Can you help me on this? Thank you.

[2016-06-14 16:54] chuckbutler commented on #67
They are related enough that I would expect to see swarm support in the dockerbeat monitor.

I realize the backend is different data structs, and if that bloats the monitor codes simplicity I can see why a second project would be attractive.

</my 2 cents>

[2016-06-21 11:53] danbrab opened #106 "Dockerbeat & Logstash"
Hello,

i installed igensi/dockerbeat on my docker-server (10.10.0.1). How can i connect it with my logstash-server (10.10.0.2)?

dockerbeat.yml:

-------------------------

dockerbeat:
  period: ${PERIOD:5}
  socket: ${DOCKER_SOCKET:unix:///var/run/docker.sock}
  tls:
    enable: ${DOCKER_ENABLE_TLS:false}
    ca_path: ${DOCKER_CA_PATH}
    cert_path: ${DOCKER_CERT_PATH}
    key_path: ${DOCKER_KE

[2016-06-21 12:05] marminthibaut commented on #106
Hi,

1 - don't forget to format your file as yml.
2 - check your logstash input configuration

I think that it is a libbeat issue. Don't forget to check the libbeat version used by dockerbeat (in the `glide.yaml` file).

[2016-06-21 12:17] urso commented on #106
Any log output when configuring info level? Logstash config looks ok, besides potential problems with formatting or invalid certificate (e.g. domain/ip in certificate does not match logstash endpoint). Is TLS properly configured in beats input plugin?

[2016-06-21 13:04] danbrab commented on #106
Topbeat and packetbeat are running. It's not connection or certificate problem. And i don't forgot to format dockerbeat.yml as yml.

When i start with:
de@dockb:/usr/local/work/src/github.com/ingensi/dockerbeat$ ./dockerbeat -v -e -c dockerbeat.yml

2016/06/21 13:02:26.206547 beat.go:222: DBG  Initializing output plugins
2016/06/21 13:02:26.206653 geolite.go:24: INFO GeoIP disabled: No paths were

[2016-06-22 06:04] ruflin commented on #106
A convenient option to compare is using Github. An example url for comparing master with the commit used currently by dockerbeat looks as following: https://github.com/elastic/beats/compare/05cd6641cf6e4fa12caa6e85588e181f8eefe1e6...master

[2016-06-22 06:40] marminthibaut commented on #106
We are currently working on an update of the libbeat dependency. We will
set a tag matching a libbeat released version instead an anonymous revision
number ;)

On Wed, Jun 22, 2016, 8:04 AM Nicolas Ruflin <notifications@github.com>
wrote:

[2016-06-22 07:16] danbrab commented on #106
Thank you!!!

[2016-06-22 11:15] danbrab commented on #106
Hi,
I need help again)))

I'm new in dockerworld and i don't understand with which command i can connect my servers.

what have i do?
$ docker network create dockernettest
...

docker-server (10.10.0.1)
logstash-server (10.10.0.2)

[2016-07-07 14:26] 326TimesBetter opened #108 "Add Option to Alter Field Names??"
I see in your documentation, the fields produced by dockerbeats are named:
"container", "cpu", "net, "memory", "blkio", "log".

Some of these clash with types that I already process in logstash. Is there a way I can alter the names produced by dockerbeat (maybe simply prepent with 'docker_') to prevent this overlap??

Thanks!!

[2016-07-07 15:03] gpolaert commented on #108
IMO, changing the field names directly from logstash (mutate) is better way.
You can add a tag to identify the beats.

[2016-07-11 16:59] 326TimesBetter commented on #108
Yeah that worked great. Didn't know about the beats option to send tags with messages. Thanks!

[2016-07-11 17:12] 326TimesBetter opened #109 "How to Scale??"
We are testing out dockerbeat to see if it will be a viable method for us to collect metrics on our docker containers right now.

However we have hundreds of vm's with 3-4 containers on each, and we're encountering some difficulties obtaining usable output. For example, I have built a dashboard displaying the memory metrics made available by dockerbeat, but the only identifier available there is c

[2016-07-11 18:45] marminthibaut commented on #109
You should try to use labels to identify your containers. Then you will be able to refine your dashboards by filtering by label.

[2016-07-12 13:35] 326TimesBetter commented on #109
I'm sorry I'm still not clear on how to make this work. If I add labels, I see that they show up in the container metric, but I need to add an identifier to the other metrics, memory, cpu, network, etc... Is there a way to apply labels to these metrics as well??

[2016-07-12 14:17] gpolaert commented on #109
@marminthibaut talks about docker labels. Here the documentation: https://docs.docker.com/engine/userguide/labels-custom-metadata/

All event types (cpu, mem and so on) from one container will be tagged with the labels you've set.
Adding these labels allows you to split per type of container, per host or whatever ... depends of what you've set in your labels.

Another solution could be using logst

[2016-07-12 14:32] marminthibaut commented on #109
You are right.

Actually, this feature has been resolved by #103 and has been merged into develop. But it will be available for the next release (rc2).

If you want to test it now, you can try to build dockerbeat from the develop branch.

[2016-07-12 14:34] #109 closed

[2016-07-12 14:34] #108 closed

[2016-07-12 14:36] marminthibaut commented on #104
Closed by #105

[2016-07-12 14:36] #104 closed

[2016-07-12 14:37] marminthibaut commented on #99
Up!

[2016-07-12 14:38] #106 closed

[2016-07-12 14:49] 326TimesBetter commented on #109
Ah I see, I wasn't building from develop. Thanks!

[2016-07-13 20:36] 326TimesBetter opened #112 "Occasional MASSIVE cpu metrics??"
Occasionally dockerbeat is throwing a log with cpu.totalUsage off of the charts. Like unrealistically high, representing more cpu than our memory has (knowing you get 100% per cpu).

Example:

![image](https://cloud.githubusercontent.com/assets/16246896/16818862/e78640b8-4917-11e6-80b2-312ac65b5357.png)

Have you guys seen this before or know what could cause something like this??

Thanks!

[2016-07-13 20:46] tsg commented on #112
This looks quite similar to something we had in Topbeat, see this [PR](https://github.com/elastic/beats/pull/1928) that fixes it. The usage of unsigned integers caused small negative values to be transformed in huge positive values.

Looking at the dockerbeat code, the same might be happening [here](https://github.com/Ingensi/dockerbeat/blob/develop/calculator/cpu.go#L39).

[2016-07-15 12:52] marminthibaut opened #113 "Improve test coverage"
Test coverage should be over 70%. (Currently about 60-65%).

[2016-07-28 07:17] dlip opened #114 "Logstash logging broken in 1.0-rc2"
It seems ok in rc1, but in rc2 I get this suspicious warning and nothing is sent:

[code]

[2016-07-29 09:22] mschae commented on #114
Seeing the same issue here.

[2016-08-02 15:15] 326TimesBetter commented on #112
Any update on this issue?? This is literally the only thing preventing us from utilizing this tool in production unfortunately :(

[2016-08-02 16:04] marminthibaut commented on #112
I'll be on it on Thursday :racehorse:

[2016-08-05 07:52] marminthibaut commented on #114
I'm on it. It seams to be generated when dockerbeat publishes the container event.

[2016-08-05 08:43] #114 closed

[2016-08-05 09:34] marminthibaut commented on #112
@326TimesBetter Can you check if this version of dockerbeat resolve your issue? If you don't want to compile dockerbeat yourselft, here is a compiled version for linux x86_64 architecture.

[dockerbeat.zip](https://github.com/Ingensi/dockerbeat/files/403483/dockerbeat.zip)

[2016-08-08 09:07] marminthibaut commented on #112
@326TimesBetter ??

[2016-08-11 09:42] rdesgrange-lf opened #117 "No memory metrics"
Hi,

I am using docker 1.11, I launched dockerbeat in a container from the hub. here is the dockerfile:
[code]
Here is my `dockerbeat.yml`:
[code]

And in elasticsearch I don't have any memory metrics, but I have the other one (cpu, container, blkio, net).

I tried with `latest` image and `develop` it doesn't work :-(

[2016-08-11 09:47] marminthibaut commented on #117
Can you launch the dockerbeat container in verbose mode?

Just add `CMD [ "-c", "dockerbeat.yml", "-e" "-v"]` at the end of your Dockerfile, and past here the output after few seconds (>PERIOD).

Thank you

[2016-08-11 09:54] rdesgrange-lf commented on #117
(BTW `CMD [ "-c", "dockerbeat.yml", "-e" "-v"]` is not working, here is the result of `docker inspect`
[code]

[2016-08-11 11:21] rdesgrange-lf commented on #117
I have no log, this is weird...

[2016-08-12 07:06] marminthibaut commented on #117
Thank you for your feedback.

* Does these errors append when you use the default configuration file? (provided into the docker image)

* Can you pull the tag v1.0.0-rc2 and test again? (that's just to ensure that we speak about the same version :smile: )

[2016-08-12 12:46] rdesgrange-lf commented on #117
I tried with both default and custom config file. Each time it worked on my machine (docker for mac) but not on linux host.

Same issue with v1.0.0-rc2 (I checked out the git branch and then build, this way I can set the log to debug in `dockerbeat-docker.yml`)

I tried why a new host. On debian 8, with docker 1.12, it also doesn't work.

[2016-08-12 12:48] marminthibaut commented on #117
Ok Thanks, I'm on it!

[2016-08-12 12:51] rdesgrange-lf commented on #117
I looked at the code, and the data structure looks fine, so if it's a bug , I think it's in the libbeat, and not in your code :-(

[2016-08-12 12:53] rdesgrange-lf commented on #117
Can you reproduce ? My setup is not unusual, debian 8 on EC2 instances with docker 1.11/1.12

[2016-08-12 13:17] marminthibaut opened #118 "Update dependencies"
Update the dockerclient and libbeat dependencies.

[2016-08-12 13:18] marminthibaut commented on #117
I think that bug could be caused by a too old version of our fsouza/dockerclient dependency.

We should update the dockerclient and the libbeat -> #11

[2016-08-16 12:14] #112 closed

[2016-08-23 14:02] lesaux opened #122 "dash in container names do not work."
Say I have a container name with dashes:

r-load-balancer-ssl_load-balancer-ssl_2

I obtain 6 hosts in kibana. It seems a host is created after each dash.

[2016-08-24 01:50] lesaux commented on #122
actually, the bug is only in the dockerbeats dashboards.

[2016-08-26 12:08] #118 closed

[2016-08-26 12:10] marminthibaut commented on #117
Does it resolve your issue? #121

Here is the executable compiled from the last merge: [dockerbeat.zip](https://github.com/Ingensi/dockerbeat/files/439223/dockerbeat.zip)

[2016-08-26 19:08] lesaux commented on #122
Sorry I'm closing this. I was not using the proper mapping.

[2016-08-26 19:08] #122 closed

[2016-08-26 19:19] marminthibaut commented on #122
Thanks no problem!

[2016-08-29 09:12] marminthibaut commented on #117
@rdesgrange-lf Can you try again with this version and give us your feedback?

-->
[dockerbeat.zip](https://github.com/Ingensi/dockerbeat/files/442088/dockerbeat.zip)

Thanks

[2016-08-29 09:39] marminthibaut commented on #117
Just reopen issue if it is not resolved

[2016-08-29 09:49] rdesgrange-lf commented on #117
`2016-08-29T09:49:16Z ERR json.Marshal: json: unsupported value: NaN`

[2016-08-30 09:30] rdesgrange-lf commented on #117
Have you manage to reproduce the bug ?

[2016-08-30 09:46] marminthibaut commented on #117
Not yet.

We will try to reproduce this bug later (v1.0.1 ?). If you have news about this bug, do not hesitate to post here and/or contribute :+1:

Thank you.

[2016-08-30 09:56] rdesgrange-lf commented on #117
I'll try to free some time this week to debug this.

[2016-08-31 06:45] #117 closed

[2016-09-14 10:37] himulawang opened #127 "Import dashboard not working"
I try to

[code]

Then refresh kibana. Can't find dockbeat dashboard in dashboard panel.

Any idea?

[2016-09-14 10:48] himulawang commented on #127
Sorry, I misunderstand the template meaning. It's not a dashboard template.

[2016-09-14 10:48] #127 closed, assigned to nobody

[2016-09-14 20:38] marminthibaut commented on #127
No problem ;)

[2016-09-26 12:11] cabrinoob opened #129 "Existing elasticSearch cluster"

[2016-09-26 12:18] #129 closed, assigned to nobody

[2016-09-26 14:26] cabrinoob opened #130 "Existing ElasticSearch cluster"
If I understand your Readme.md, I need to start dockbeat with a --link to an existing elasticsearch container.

Is it possible to connect to an existing elasticsearch cluster (actually an AWS ElasticSearch Service) without starting a sidekick elastic container?

Thank you for your help

[2016-09-26 14:52] marminthibaut commented on #130
You should try to add a volume with a custom dockbeat configuration file, defining your existing elasticsearch instance(s) as `output.elasticsearch.hosts`

[2016-09-27 07:50] cabrinoob commented on #130
Ok, so I can ignore the --link in the launching of the dockbeat container?

[2016-09-27 08:00] marminthibaut commented on #130
absolutely :+1:

[2016-09-27 13:52] cabrinoob commented on #130
Ok, here is my dockbeat.yml file :

################### Dockbeat Configuration Example #########################

############################# Dockbeat ######################################

[code]

I have just modifed the "hosts" property.

I launch it thriugh this command :

`docker run -d /
-v /var/run/docker.sock:/var/run/docker.sock /
-v /etc/dockbeat:/etc/dockbeat /
 -v /var/logs/dockbeat:

[2016-09-27 13:55] marminthibaut commented on #130
Is should work only if the dockerbeat container can access to the elasticsearch cluster from inside.

Can you go into your container and try a curl 9200?

`docker exec -it your-container sh` to go into your container

[2016-09-27 15:26] cabrinoob commented on #130
I have access from inside the container to my elasticsearch cluster.

[2016-10-11 16:32] abondoa commented on #130
I am having the same issue - getting 'Error opening syslog: Unix syslog delivery error' when i check docker logs.

I have accessed the container and I can access the elasticsearch container:
root@b783b39665de:/etc/dockbeat# curl http://elasticsearch:9200
{
  "name" : "Two-Gun Kid",
  "cluster_name" : "elasticsearch",
  "version" : {
    "number" : "2.4.0",
    "build_hash" : "ce9f0c7394dee074091dd

[2016-10-12 11:16] gpolaert commented on #130
@abondoa @cabrinoob Think is not related to your ES cluster. Could you try to set `logging.to_syslog` to `false`. I think you don't have a local syslog in your container/OS installed. Keep me notified.

[2016-10-23 14:19] abondoa commented on #130
@gpolaert Setting `logging.tosyslog` to false, seemed to do the trick for me. Thanks a lot!

[2016-10-23 22:59] gavrmike opened #132 "dockbeat doesnot writes anything"
Hi!

I would like use dockbeat for collect info about containers.

I run:
docker run --name dockbeat -d -v /var/run/docker.sock:/var/run/docker.sock   --link es:elastic ingensi/dockbeat

and docker show me that it was correct started.
But nothing will happen anymore.
I could not found any index with name dockbeat in elastic.

docker logs dockbeat:
Error opening syslog:  Unix syslog delivery error

[2016-10-26 13:52] sebastienmusso opened #133 "Label parsing in Elasticsearch"
Hello,

I'm currently using Dockbeat to push docker container stats directly to elasticsearch in order to print some smooth dashboard in our paas and it's working quite well.

I only have an issue when I try to parse data from containerLabels in elasticsearch.
I cannot parse dynamic struc like this in my ES/Timelion query :
{
  "key": "application-type",
  "value": "tomcat"
}

In order to filer ea

[2016-11-03 01:48] jalberto commented on #132
I am haivng same problem, if I go into the container (exec bash) I can see the dockbeat process as PID1 but nothign is loging.

the command runnning is:

[code]

If I run the same command nothing happens, but if I run:

[code]

it seems to start properly, seems like "bin/sh -c" is causing some trouble

[2016-11-04 20:01] mr-oz-09 opened #134 "dockbeat.hostname not showing up"
The hostname is showing up as the container-id. Is there a way to have that be the hostname?

[2016-11-10 04:26] dang3r commented on #134
If you are using the dockbeat container and want the associated hostname, use the `--hostname` flag for docker run. By default, a container does not inherit its host's hostname.

How you retrieve the hostname depends on the host system, but executing `hostname`, using the env. var. ${HOSTNAME}, or checking `/etc/hosts` made be viable options.

 As example of the command is the following:
 `docker

[2016-11-10 18:37] dang3r opened #135 "Dockbeat logging"
Hey there,

### Dockbeat Version
ingensi/dockbeat:latest / 806a70b38d4220a21b1de029443da25f77749c90

### Bug
The formatting of Dockbeat outputs lines like the following
`2016/11/10 18:30:22.579066 dockbeat.go:320: INFO dockbeat%!(EXTRA string=Publishing %v events, int=5)`

This is caused by lines like `logp.Info("dockbeat", "Publishing %v events", len(events))` found at https://github.com/Ingensi/

[2016-11-16 15:41] ghost opened #136 "Kibana Dashboard"
Hey,

I run dockbeat in docker.
Dockbeat send metrics to elastic. I see data in  kibana with the discover page but i haven't default dashboard.
Can you provide default kibana dashboard  ?

Regards,
Gaëtan BOGAERT

[2016-11-16 21:53] dang3r commented on #136
You might be interested in the issue at https://github.com/Ingensi/dockbeat/issues/69

Executing the load script against your Elasticsearch cluster or instance should work. Note however that the latest commit in the branch referenced in that PR is from January. The script predates release of Elasticsearch 5.0.0, so it may have to be updated.

[2016-11-30 10:15] cabrinoob opened #137 "To make labels exploitable in Kibana"
Hi,
I'am using Rancher to orchestrate my containers deployed on many hosts. I choosed Dockbeat as a very lightweight solution to log system metrics in elasticsearch. Thank you for your nice job!

Some of information very usefull to me in the logged data is some rancher labels like "stack name" or "container id". But the way they are stored in ElasticSearch makes very difficult to exploit them corr

[2016-11-30 10:44] marminthibaut commented on #137
IMO it's a good idea :smile:

[2016-11-30 11:10] ruflin commented on #137
We did almost the same in the metricbeat docker module: https://github.com/elastic/beats/pull/3024

[2016-12-05 17:58] dang3r commented on #137
Good idea! Can it be incorporated into a new Docker image with a tag indicating it is a breaking change?

[2016-12-06 07:59] cabrinoob commented on #137
If you want to test it I pushed a docker image of my version here : https://hub.docker.com/r/fmeriot/dockbeat-labels/

I use it as a base image like this :

[code]

Don't forget the "v1" version

[2016-12-09 11:56] JR-BR opened #138 "Example configuration shipper"
_Hi

 I am starting the tests and am having an error to include the correct syntax.
 Please, can you give an example of how to do this shipper configuration?
 Thank you very much_

**dockbeat.yml**

shipper:
   ...
  -# Optional fields that you can specify to add additional information to the
  -# output. Fields can be scalar values, arrays, dictionaries, or any nested
  -# combination of these.
[

[2016-12-14 11:19] jdel commented on #137
I would be very interested in this too !

[2016-12-14 11:43] jdel opened #139 "docker oom-killer / possible memory leak ?"
Hello,

I have been using dockbeat for over 2 months to gather container stats from my Rancher managed infrastructure.

I am using 1.0.0 release of dockbeat, in an alpine:3.4 with glibc container and all of my servers running the dockbeat container have logs similar to this:

[code]

My dockbeat container is currently limited to using 100MB of ram and 200MB of swap (mem_limit set in docker compose

[2016-12-14 11:52] ruflin commented on #137
The docker module is now also available in the metricbeat 5.1 release with the label refactoring.

[2016-12-27 17:34] strarsis opened #140 "metricbeat docker plugin"
Could development of dockbeat and metricbeat docker plugin be merged?:
https://www.elastic.co/guide/en/beats/metricbeat/current/metricbeat-module-docker.html

Dockbeat in contrast to the metricbeat docker plugin seems to be stable and production-ready.

[2016-12-28 10:29] erwanncloarec commented on #140
Well for me the code is already merged.
I would recommend to use the metricbeat plugin since it's Elastic that maintain it now.

What kind of problems do you encounter with the metricbeat plugin that you don't have in dockbeat ?

[2016-12-28 15:10] strarsis commented on #140
Then dockbeat has been merged with/is a metricbeat plugin now?

[2016-12-28 15:14] erwanncloarec commented on #140
Yes! It's mainly the same code except for the plugin part

[2016-12-28 15:25] strarsis commented on #140
Thanks! It may be nice to add a notice about this to the README of this project.
Will changes to this repository be merged to the ES plugin and the other way around on a regular basis?

[2016-12-28 15:27] erwanncloarec commented on #140
I think we will deprecate this repo and redirect to metricbeat
We will update the README soon :)

[2016-12-28 15:28] strarsis commented on #140
OK, thanks for your answers.

[2016-12-28 15:28] #140 closed, assigned to nobody

[2017-01-06 16:06] luckydonald commented on #132
If I run `docker logs dockbeat`
I get
[code]
Could that be related?

[2017-01-06 16:18] luckydonald commented on #132
Also the `dockbeat-docker.yml` tries to connect to `https://elasicsearch` instead of `https://elasic`, what the README proposes.

[2017-01-06 16:49] luckydonald commented on #69
Note, all occurences of `dockerbeat` must be changed to `dockbeat`

[2017-01-06 16:53] luckydonald commented on #69
Basically:
[code]

[2017-01-06 18:52] luckydonald commented on #139
It really looks like.
![image](https://cloud.githubusercontent.com/assets/2737108/21729025/87e3b39e-d449-11e6-8a93-b8ff0baa039c.png)
![image](https://cloud.githubusercontent.com/assets/2737108/21729053/a1014b52-d449-11e6-9428-debb53f03a60.png)

[2017-01-10 02:17] bradseefeld opened #141 "Tags on dockerhub?"
Any chance you guys can start tagging the images on dockerhub? It would greatly help us in our confidence of what we are shipping to production.

[2017-01-10 05:47] bradseefeld commented on #132
@luckydonald, try adding `-e` to the end of your docker run command:
[code]

[2017-01-23 08:26] ghost commented on #139
Hi,
Same issue in our side. Is anything foreseen to fix this memory leak?

[2017-01-23 12:49] ruflin commented on #139
It would be interesting to hear if you have the same issues with the docker module in metricbeat.

[2017-01-23 15:19] douaejeouit commented on #141
@bradseefeld Could you please give me more details about your need?
Do you need to know all the repositories associated to the images of your running containers ?

[2017-01-23 15:53] douaejeouit commented on #141
@bradseefeld  Could you please give me more details about your need?
Do you need to know all the repositories associated to the images of your running containers ? Or you want to be able to create new targets that refer to images?
Please contact me for further information.  I would be happy to help you :)

[2017-01-28 00:25] bradseefeld commented on #141
Hey sorry for the delay.

I am talking about the actual dockbeat repo. There are no tags :)

Its common for the production/stable build on dockerhub to be tagged with a version number. This way when I say `docker run dockbeat:1.0.0`, I am always getting the 1.0.0 version of the image. If you build a newer image/version and tag it 1.1.0, I can pull that down when I have time, test it, and then put

[2017-02-07 18:33] godefroi opened #142 "Dockbeat fails with npipe:// socket on Windows; exits with status 1"
I am attempting to run dockbeat on Windows, and am not having success.

[code]

Dockbeat exits immediately with status 1, and if logging is configured, the following error is logged:

[code]

Dockbeat uses fsouza/go-dockerclient to communicate with Docker, I believe, and go-dockerclient does support npipe connections to docker on Windows (f.e. Registrator works, and uses the same docker client), b

[2017-02-07 18:56] godefroi opened #143 "Dockbeat cannot collect memory stats on Windows"
Docker on Windows reports different memory statistics than it does on Linux. Because some expected values are not present, the JSON serialization fails, reporting that NaN is an invalid value.

On Windows, the memory statistics output by Docker look like this:

[code]

[2017-02-27 10:37] jdel commented on #139
Any news on this ? I am seriously considering using something else...

[2017-03-14 13:14] alangibson commented on #137
Any update on this? It would be very useful for our Grafana dashboards.

Apparently related: https://github.com/Ingensi/dockbeat/issues/133

[2017-03-14 14:39] douaejeouit commented on #139
@jdel  I wanted to let you know that we have migrated Dockbeat to a new [docker ](https://github.com/elastic/beats/tree/master/metricbeat/module/docker) module in Metricbeat of The Beats project. This last is a part of the Elastic stack. You can benefit from the power of Elasricsearch and the great visualization of Kibana for a better monitoring of your Docker infrastructure.  All that you need wi

[2017-03-14 14:45] douaejeouit commented on #139
@jdel  We have migrated Dockbeat to a new [docker ](https://github.com/elastic/beats/tree/master/metricbeat/module/docker) module in [Metricbeat.](https://github.com/elastic/beats/tree/master/metricbeat) This last is a part of the Elastic stack. You can take advantage of the power of Elasricsearch and the great visualization of Kibana for a better monitoring of your Docker infrastructure.  All tha

[2017-03-15 10:43] douaejeouit commented on #139
@jdel The issue was found &  resolved in Metricbeat thanks to @ruflin   [#3514](https://github.com/elastic/beats/pull/3514)

[2017-03-15 23:01] ruflin commented on #137
@alangibson The docker module in metricbeat has this change. The docker module is dockbeat as a module in metricbeat and was contributed from this code base.

[2017-03-16 22:26] luckydonald commented on #139
This looks promising

[2017-03-23 07:52] matajaz commented on #69
I have some trouble loading the dashboards.

I get the following errors in Kibana
12 Saved "field" parameter is now invalid. Please select a new field.
14 Visualize: "field" is a required parameter

![image](https://cloud.githubusercontent.com/assets/4008385/24237248/d2c457fa-0fa5-11e7-82a8-407935bfef2f.png)

![image](https://cloud.githubusercontent.com/assets/4008385/24237270/e9435436-0fa5-11e7-8

[2017-03-23 09:03] matajaz commented on #69
I realized that there should be "net......." fileds in the blank fields.

I do not get this statistics:
![image](https://cloud.githubusercontent.com/assets/4008385/24239728/57a7a5d6-0faf-11e7-82e2-2e15a1dfb200.png)
Possibly due to that I use --net=host

I tried to spinn up a container without --net=host making the container run in it's own network.
This did not give any more Fields.

I tried to ad

[2017-03-25 20:19] ruflin commented on #69
The docker module in metricbeat (which was contributed by dockbeat) contains also dashboards.

[2017-03-28 15:13] douaejeouit commented on #141
@bradseefeld Sorry for the delay. I can see what you mean. I think I have a better suggestion that can help you. Let me introduce you to [Docker Module](https://www.elastic.co/blog/beats-5-1-1-released) in the Beats Project of Elastic. We have [migrated ](https://www.elastic.co/products/beats/metricbeat) Dockbeat to a new docker module in [Metricbeat](https://www.elastic.co/fr/downloads/beats/metr

[2017-03-28 15:21] douaejeouit commented on #141
@bradseefeld Sorry for the delay. I can see what you mean. I think I have a better suggestion that can help you. Let me introduce you to [Docker Module](https://www.elastic.co/blog/beats-5-1-1-released) in the Beats Project of Elastic. We have [migrated ](https://www.elastic.co/products/beats/metricbeat) Dockbeat to a new docker module in [Metricbeat](https://www.elastic.co/fr/downloads/beats/metr

[2017-03-29 10:36] luckydonald commented on #69
@ruflin: so do I stilll need to make this process outlined in the [second post](https://github.com/Ingensi/dockbeat/issues/69#issuecomment-173593646)?

[2017-03-29 10:45] ruflin commented on #69
@luckydonald Not sure I can follow your question?

[2017-04-05 10:57] luckydonald commented on #69
@ruflin What do I have to to now, to get dashboards?

[2017-04-05 11:49] ruflin commented on #69
Are you running dockbeat or metricbeat?

[2017-04-06 12:57] luckydonald commented on #69
_Wait..._ There are now two to choose from?
That's probably what confused me.

I skipped over the part with the [Metricbeat Docker module](https://www.elastic.co/guide/en/beats/metricbeat/5.3/metricbeat-module-docker.html), you were talking about, sorry.

I currently have neither running, the last time I did, there were some memory issues (#139).
Has anyone compared them, and got a glimpse if/how

[2017-04-07 10:24] ruflin commented on #69
Dockbeat was converted to a module for metricbeat and contributed. So they have the exact same foundation. Recently most changes/fixes went into the docker module in metricbeat.

[2017-06-01 15:30] datacarl commented on #132
Replace the default config and set `logging.to_syslog` to `false`. Worked for me [and others](https://github.com/Ingensi/dockbeat/issues/130#issuecomment-253186073).

[2017-06-06 14:29] EduJGURJC opened #144 "Run dockbeat in a docker network and listen only data of containers in that network"
Hi,
I would like to know if there is any way to run dockbeat in a docker network and listen only data of containers in that network.

For example, if i've 3 containers:

1 - `docker run -d -v /var/run/docker.sock:/var/run/docker.sock  --link elastic:elasticsearch --network=example ingensi/dockbeat:1.0.0-rc3`

2 - `docker run --network=example example/exampleimage`

3 - `docker run example/notnetwo

[2017-06-23 00:08] alterx opened #145 "Question: cpu.totalUsage units"
Sorry if this is not the place to ask this question but I was wondering what's the unit that dockbeat returns inside `cpu.totalUsage`. Is it a percentage of the CPU usage?

If that's the case, how is this calculated? It doesn't look like the data returned corresponds to the data I get when running `docker stats [container]`

Thanks in advance

[2017-07-13 15:01] EduJGURJC commented on #145
I have the same question. Is real CPU in percentage?

[2017-09-29 12:36] kwaio commented on #139
Hi, any new on this ?
Dockerbeat is kind of our only way to start collecting docker metrics into ELK, but this leak requiring hourly restarts doesn't help =/

[2017-11-24 15:57] charlietango opened #146 "Timestamp is 0001-01-01T00:00:00.000Z for containers which aren't up"
@timestamp field is `0001-01-01T00:00:00.000Z` for containers which have the status anything other than "Up...", when I send the data straight to, or through Logstash, into Elasticsearch.
The stats belonging to containers, which are UP, end up in an index named `dockbeat-YYYY.MM.DD` (where YYYY.MM.DD is today's date); all the stats belonging the other containers end up in an index named `dockbeat-

[2017-12-07 04:21] patelh6 opened #147 "Problem with containerLabels entry failing date format in ElasticSearch"
Hi,

I have an issue which is preventing the data collected by dockbeat to be sent successfully to elasticsearch. One of the key fields under containerLabels has a datetime format which is not captured by elasticsearch by default e.g.
`    {
      "key": "build-date",
      "value": "2017-10-12T15:15:58.430231"
    }`

I have tried to use the template file to explicitly refer to all containerLabel

[2017-12-15 00:39] #135 closed, assigned to nobody

[2017-12-21 20:47] robertjustjones opened #148 "Plans to update for ES6?"
After updating to Elasticsearch 6.x, I'm getting this error.
[code]

I know es6 deprecates mapping types, which dockbeat relies on, in favor of separate indices for each type. There's also a new stricter requirement to specify Content-Type.

Is there any plan or work underway to make that change?  Or are there alternative approaches?

[2017-12-22 04:56] ruflin commented on #148
@robertjustjones The docker module in Metricbeat was contributed to dockbeat team. Best start using metricbeat with the docker module which is updated.

[2017-12-22 17:30] robertjustjones commented on #148
Thanks!!

[2017-12-22 17:30] #148 closed, assigned to nobody

[2018-12-06 10:50] LevavasseurYann commented on #145
Still wondering

[2020-05-15 12:17] MilindDivre opened #150 "if docker running on remote server how can i configure dockbeat"
what value should i be putting here
socket: ${DOCKER_SOCKET:
i tried with below it does not work.
 socket: ${DOCKER_SOCKET:http://XX.XX.XX.XX:2375/var/run/docker.sock}
can you please help

[2020-05-15 17:51] MilindDivre opened #151 "issue with publish data to elasticsearch"
i am getting below error
2020/05/15 17:46:10.154900 beat.go:173: INFO dockbeat sucessfully setup. Start running.
2020/05/15 17:46:10.154957 dockbeat.go:196: INFO dockbeat%!(EXTRA string=dockbeat is running! Hit CTRL-C to stop it.)
2020/05/15 17:46:16.970181 dockbeat.go:320: INFO dockbeat%!(EXTRA string=Publishing %v events, int=5)
2020/05/15 17:46:16.971792 dockbeat.go:320: INFO dockbeat%!(EXTRA s

[2020-09-05 07:18] devopsenggineer commented on #151
This config has worked for me. I think it was version compatibility issue(Got  a hint from this link.) [https://discuss.elastic.co/t/filebeat-having-error-in-bulk-index-operations/141339](url)

#Note!!! if index is not getting created in kibana GUI, use this " curl 'localhost:9200/_cat/indices?v' "command to get index name pattern dockbeat-yyyy.mm.dd(dockbeat-2020.09.05) and paste it that in kiban

[2021-08-30 09:20] anisaAnya commented on #146
have same issue